{% extends 'gourmate/base.html' %}
{% load staticfiles %}
{% block title %}Add Recipe{% endblock %}
{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
        <h1 class="jumbotron-heading">Add a Recipe</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form role="form" id="recipe_form" method="post"
                action="{% url 'gourmate:add_recipe' category.slug %}" enctype="multipart/form-data">
                {% csrf_token %}
				{{ form.as_p }}
				<!--
                <div class="form-group">
                    <label for="id_title">Title</label>
                    <input id="id_title" type="text" name="title" maxlength="100" required>
                </div>

                <div class="form-group">
                    <label for="uploadImage">Please upload an image:</label>
                        <input type="file" accept="image/*" class="form-control-file" id="uploadImage"><br>
                    <label for="id_content">Content</label>
                    <textarea id="id_content" name="text" rows="10"></textarea>
                </div>
-->
                <button class="btn btn-primary" type="submit" name="submit" style="background-color: #C13C14;">
                    Add Recipe
                </button>
                <div class="p-5"></div>
            </form>
        </div>
    </div>
{% endblock %}