{% extends 'gourmate/base.html' %}
{% load staticfiles %}
{% block title %}
    Popular Recipes
{% endblock %}

{% block body_block %}

    <button class="btn btn-primary" type="popular" name="popular" style="background-color: #C13C14;">
         <a href="{% url 'gourmate:recent_recipes' %}">Most Popular Recipes</a> <br />
    </button>
    <button class="btn btn-primary" type="liked" name="liked" style="background-color: #C13C14;">
         <a href="{% url 'gourmate:recent_recipes' %}">Most Liked Recipes</a> <br />
    </button>
    <button class="btn btn-primary" type="recent" name="recent" style="background-color: #C13C14;">
         <a href="{% url 'gourmate:recent_recipes' %}">Most Recent Recipes</a> <br />
    </button>
    {% for recipe in recipes %}
        <div class="container">
            <ul  class="list-group list-group-flush">
                <li  class="list-group-item">
                    <h2 class="jumbotron-heading" style="color: #C13C14;">
                        <a href="{% url 'gourmate:recipe' recipe.title %}">
                            {{ recipe.title.errors }}
                            {{ recipe.title }}
                            <img src="{{ MEDIA_URL }}{{ recipe.picture }}" class="figure-img img-fluid" alt="PlaceHolder">
							{% if recipe.picture %}
							<span>This post has a picture</span>
							{% else %}
							<span>No picture</span>
							{% endif %}
                        </a>
                    </h2>
<!--
                    <div class="form-group">
                        <div class="col-sm-9" style="color:darksalmon;">
                        {% for category in categories %}
                            <a href="{% url 'gourmate:show_category' category.slug %}"></a>
                                {{ category.name }}
                        {% endfor %}
                        </div>
                    </div>-->

                    <div>
                        <label style="color: lightsalmon;">
                            <span data-feather="user" color="lightsalmon"></span>
                            <a href="{% url 'gourmate:profile' recipe.user.user.username %}"></a>
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="container">
                            <img src="{{ MEDIA_URL }}{{ recipe.picture }}" class="figure-img img-fluid" alt="PlaceHolder">
                            {{ recipe.content.errors }}
                            {{ recipe.content }}
                        </div>
                    </div>

					<div>
				    <strong id="like_count">{{ recipe.likes }}</strong> likes
					{% if user.is_authenticated %}
					<button id="like_btn"
					    data-recipeid="{{recipe.id}}"
						class="btn btn-primary btn-sm"
						type="button">
						<span data-feather="heart" color="pink"></span>
						Like Recipe
					</button>
					{% endif %}
				    </div>
					
                </li>
            </ul>
        </div>
        {% endfor %}
    </ul>

{% endblock %}